@media screen and (max-width: 1180px) and (min-width:800px) {
    .logo-img {
      width: 12%;
      height: 66px;
    }
  
    .logo {
      width: 98%;
    }
  
    .header-content {
      width: 70%;
      margin-bottom: 30px;
    }
  
    .full-container {
      margin: auto 10%;
    }
  
    .card1 {
      width: 100%;
    }
  
    .about {
      max-width: 480px;
    }
  }


  @media screen and (min-width:320px)and (max-width:799px) {
      .logo{
          width:100%;
          height:114px;
          display: flex;
          justify-content: flex-start;
      }

      .logo-img{
          width: 22%;
          margin-top:13%;
          height: 60px;
          position: absolute;
      }

      .full-container{
          margin: auto 10%;

      }
      .header-content{
          width: 100%;
      }

      .card-up{
          margin-top:7rem;
      }

      .card1-title{
          margin:15px 0 100px 0;
      }
     .card1{
         width:100%;
     }
  }